<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Questionnairs</ion-title>
      <ion-buttons  slot="primary">
        <ion-button clear (click)="gotoMap()">
            <ion-icon name="locate"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <iframe src="https://www.surveymonkey.com/r/VCKD3GM" style="width: 100%; height: calc(100vh - 56px);"></iframe>
</ion-content>
